.card{
    height: 300px;
    width: 200px;
    background-color: rgba(42,196,231,0.582);
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 7px 15px 0 rgba(0,0,0,0.659);
    display: inline-block;
}
.bcard{
    height: 100%;
    width: 100%;
}