.card{
    height: 300px;
    width: 200px;
    background-color: rgba(247, 203, 84, 0.76);
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0 7px 15px 0 rgba(0,0,0,0.659);
    display: inline-block;
}

.cody-image img{
    height: 100%;
    width: 100%;
    padding: 0px 0px 30px 0px;

}
.cody-inner-box{
    height: 175px;
    width: 150px;
    background-color: rgba(197, 62, 29, 0.582);
    margin: 10px 10px 15px 4px;
    padding: 20px;
    border: 2px solid black;
}
.cody-inner {
    text-align: center;
    font-weight:bold;
    font-size:large;
}

.cody-bottom-text {
    text-align:center;
}
.bcard{
    border: 2px solid orangered;
    height: 10%;
    width: 100%;
}
#dylan img
{
    text-align: center;
        align-self: center;
    height: 50%;
    width: 50%;
    border:2px solid black;
}

#noah {
    text-align: center;
    background-image: url("images/original.gif");
}
.left_text {
    float: left;
}
.right_text {
    float:right;
}
